{% extends 'base.html'%}
{% load static%}
{% block title %}| Spa & Recreation {% endblock %}
{% block content %}
<section id="showcase-inner-spa" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="dsiplay-4"> Ncode Hotel <br>SPA & RECREATION</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias officiis voluptatibus sed debitis dolore
          tenetur.</p>
      </div>
    </div>
  </div>
</section>

<!-- bedcrum -->
<section id="bd" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"><i class="fas fa-home"></i>Home</a>
        </li>
        <li class="breadcrumb-item active">Spa & Recreation</li>
      </ol>
    </nav>
  </div>
</section>

<section id="shows" class="py-4">
  <div class="container">
    <div class="row">
      {% if spa %}
        {% for item in spa %}
          <div class="col-6 col-md-12 col-lg-6 mb-4">
            <div class="card listing-preview">
              <img height="200" src="{{item.photo_main.url}}" alt="" class="card-img-top" id="pop">
                <div class="card-img-overlay">
                  <h4 class="text-uppercase bg-info text-white d-inline py-2 px-4 rounded-lg">{{item.spa_type}}</h4>
                </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-success">{{item.spa_name}}</h4>
                </div>
                  
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No Available Spa and Recreation</p>
      {% endif %}
      
    </div>
  </div>
</section>
{% endblock %}