{% extends 'base.html'%}
{% load static %}
{% block title %}| {{show.room_name}} {% endblock %}
{% load humanize %}
{% block content %}



<section id="checkout">
  <div class="container py-5">
    <a href="{% url 'rooms' %}" class="btn btn-outline-dark m-2">&larr; Back To Rooms</a>
<div class="row pb-3">
  <div class="col-md-5 mx-auto">
    <div class="card p-2">
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <div class="form-row">
            <div class="col">
              <label for="first_name" class="font-weight-bold">Firstname</label>
              <input type="text" class="form-control" name="first_name" value="{{request.user.first_name}}" required>
            </div>
            <div class="col">
              <label for="last_name" class="font-weight-bold">Lastname</label>
              <input type="text" class="form-control" name="last_name" value="{{request.user.last_name}}" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <label for="" class="font-weight-bold">Check In</label>
              <input type="date" name="checkin_date" value="date"  required class="form-control">
            </div>
            <div class="col">
              <label for="" class="font-weight-bold">Check Out</label>
              <input type="date" name="checkout_date" required class="form-control">
            </div>
          </div>
          <div class="form-row my-2">
            <div class="col">
              <label for="" class="font-weight-bold">Room Name &rarr; </label>
            </div>
            <div class="col">
              <input type="text" name="room" value="{{show.room_name}}" class="form-control d-inline" readonly>
            </div>
          </div>
          
        </div>
        {% if user.is_authenticated %}
        <button class="btn btn-primary btn-block" id="btn">Proceed To Payment</button>
        {% else %}
         <a class="btn btn-primary btn-block" href="{% url 'login' %}?next={{request.path}}">You Have To Login</a>
        {% endif %}
      </form>
    </div>
  </div>
</div>
  </div>
</section>


{% endblock %}
